<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INÍCIO</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
  <header>
    <div class="topo">
        <a href="/campeao_index">Campeões</a>
        <a href="/ver_todos">Usuário</a>
    </div>
    <div class="base">
        <a href="/add_campeao">Adicionar Campeoes</a>
        <a href="/ver-campeoes">Lista Campeoes</a>
        <a href="/update_campeao">Atualizar Campeoes</a>
        <a href="/delete_campeao">Deletar Campeoes</a>
    </div>
</header>
</body>
</html>
